* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

button, .button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  height: 40px;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  margin: 25px 0 50px;
  padding: 0 10px;
  grid-area: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 10px;
  border-style: none;
  background-color: #002BFF;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 43, 255, 0.5);
          box-shadow: 0px 5px 5px rgba(0, 43, 255, 0.5);
  cursor: pointer;
}

main .contactMe-section .container-contactMe .contactMe-form > button, main .contactMe-section .container-contactMe .contactMe-form > .button {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
button i, .button i {
  font-size: 2rem;
}

button:hover, .button:hover {
  color: #002BFF;
  border: 1px solid rgba(0, 43, 255, 0.25);
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.5);
          box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header {
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.25);
          box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.25);
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
header .container-logo {
  margin-left: 10px;
}
header .container-logo .icon-logo, header .container-logo i img {
  height: 100%;
}
header .nav-bar {
  position: fixed;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 20;
  top: 40px;
  right: -100vw;
  border-top: 8px solid rgba(0, 43, 255, 0.25);
  background-color: rgba(0, 43, 255, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .nav-bar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
header .nav-bar ul li > a {
  display: block;
  padding: 9.5px 20px;
  font-size: 1.6rem;
  font-weight: 550;
  text-align: center;
  background-color: #fff;
  color: #002BFF;
  border-bottom: 3px solid #002BFF;
}
header .nav-bar ul li > a:hover {
  color: #fff;
  background-color: #002BFF;
  border-bottom: 3px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .nav-bar ul li > a:active, header .nav-bar ul a.active {
  color: #fff;
  background-color: #002BFF;
  border-bottom: 3px solid #fff;
}
header .button-menu {
  padding: 10px;
  font-size: 20px;
  color: #002BFF;
  cursor: pointer;
}
header .button-menu:hover {
  background-color: #002BFF;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/assets/images/mainSection_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}
.main-section .main-section-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: "title" "image" "image" "subtitle";
  background-color: rgba(0, 43, 255, 0.25);
}
.main-section .main-section-container .main-text {
  text-align: center;
  color: #fff;
}
.main-section .main-section-container .main-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  margin: 10px 0;
  grid-area: title;
  -ms-grid-row-align: end;
      align-self: end;
  font-size: 2.8rem;
  font-weight: 900;
}
.main-section .main-section-container figure {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  width: 250px;
  grid-area: image;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}
.main-section .main-section-container figure img {
  margin: 50px 0;
  border-radius: 50%;
}
.main-section .main-section-container .main-subtitle {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  margin: 10px 0;
  grid-area: subtitle;
  -ms-grid-row-align: start;
      align-self: start;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
}

main {
  width: 100%;
  position: relative;
}
main .container {
  width: 90%;
  position: relative;
  margin: 40px auto 20px;
  background-color: #fff;
}
main .container .aboutMe-section {
  width: 100%;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "subtitle" "illustration" "description" "button";
}
main .container .aboutMe-section h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  padding: 10px 0;
  grid-area: subtitle;
}
main .container .aboutMe-section figure {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 250px;
  padding: 40px 10px 50px;
  grid-area: illustration;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}
main .container .aboutMe-section figure .aboutMe-illustration {
  width: 100%;
}
main .container .aboutMe-section .aboutMe-description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
}
main .container .aboutMe-section .button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
}
main .container .skills-section {
  padding-top: 50px;
}
main .container .skills-section h3 {
  padding: 10px 0;
}
main .container .skills-section .technologies {
  padding: 40px 0 10px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
main .container .skills-section .technologies div figure .technology-image {
  height: 100px;
}
main .container .skills-section .technologies div p {
  margin: 25px auto;
  text-align: center;
}
main .triangle-section {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 2;
  background-color: #fff;
  -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
          clip-path: polygon(50% 70%, 0 0, 100% 0);
}
main .container-projects {
  width: 100%;
  position: relative;
  background-image: url("/assets/images/projectsSection_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 97.5%, 50% 100%, 0 97.5%, 0 0);
          clip-path: polygon(100% 0, 100% 97.5%, 50% 100%, 0 97.5%, 0 0);
}
main .container-projects .auxiliar-div {
  width: 100%;
  padding: 50px 0 100px;
  background-color: rgba(0, 43, 255, 0.25);
}
main .container-projects .auxiliar-div .projects-section {
  width: 90%;
  margin: 0 auto;
}
main .container-projects .auxiliar-div .projects-section h3 {
  padding: 25px 0 50px;
  color: #fff;
}
main .container-projects .auxiliar-div .projects-section .projects {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main .container-projects .auxiliar-div .projects-section .projects .project {
  width: 280px;
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}
main .container-projects .auxiliar-div .projects-section .projects .project .title-project {
  padding: 10px 0;
  height: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #fff;
  border-radius: 20px 20px 0 0;
  background-color: #000;
}
main .container-projects .auxiliar-div .projects-section .projects .project figure {
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .container-projects .auxiliar-div .projects-section .projects .project figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
main .container-projects .auxiliar-div .projects-section .projects .project p {
  margin: 5%;
  text-align: center;
}
main .container-projects .auxiliar-div .projects-section .projects .project .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .container-projects .auxiliar-div .projects-section .projects .project .tags div {
  width: 70px;
  height: 25px;
  padding: 5px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: rgba(0, 43, 255, 0.25);
}
main .container-projects .auxiliar-div .projects-section .projects .project .buttons-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .container-projects .auxiliar-div .projects-section .projects .project .buttons-projects .button {
  margin: 25px 0;
}
main .contactMe-section {
  width: 90%;
  position: relative;
  margin: 50px auto;
  background-color: #fff;
}
main .contactMe-section .container-contactMe {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}
main .contactMe-section .container-contactMe h3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: subtitle;
  padding: 10px 0;
}
main .contactMe-section .container-contactMe .aux-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .contactMe-section .container-contactMe .aux-container figure {
  width: 250px;
  padding: 40px 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
main .contactMe-section .container-contactMe .aux-container figure .contactMe-illustration {
  width: 100%;
}
main .contactMe-section .container-contactMe .contactMe-form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name" "email" "message" "button" "status";
  gap: 15px;
}
main .contactMe-section .container-contactMe .contactMe-form label p {
  margin: 10px 0;
}
main .contactMe-section .container-contactMe .contactMe-form label .input {
  width: 97%;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 43, 255, 0.25);
  -webkit-box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.25);
          box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.25);
  resize: none;
  outline: none;
}
main .contactMe-section .container-contactMe .contactMe-form label .input:focus {
  background-color: rgba(0, 43, 255, 0.25);
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 43, 255, 0.5);
          box-shadow: 0px 5px 5px rgba(0, 43, 255, 0.5);
}
main .contactMe-section .container-contactMe .contactMe-form .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}
main .contactMe-section .container-contactMe .contactMe-form .email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: email;
}
main .contactMe-section .container-contactMe .contactMe-form .message {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: message;
}
main .contactMe-section .container-contactMe .contactMe-form .message textarea {
  height: 70px;
}
main .contactMe-section .container-contactMe .contactMe-form button {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  margin-bottom: 0;
  grid-area: button;
}
main .contactMe-section .container-contactMe .contactMe-form .status {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  margin-top: 10px;
  text-align: center;
  grid-area: status;
}

footer {
  width: 100%;
  height: 150px;
  padding-top: 35px;
  background-color: #000;
}
footer .social-networks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 10px 60px 10px 60px 10px 60px 10px 60px;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .social-networks a {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #fff;
}
footer .social-networks a i {
  padding: 5px;
  font-size: 3rem;
}
footer .social-networks a:hover {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .copy {
  margin-top: 25px;
}
footer .copy p {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
}